/*
 * Message:
 * color: #31708f;
 * border-color: #bce8f1;
 * background-color: #d9edf7;
 *
 * Error:
 * color: #a94442;
 * border-color: #ebccd1;
 * background-color: #f2dede;
 *
 * Success:
 * color: #3c763d;
 * border-color: #d6e9c6;
 * background-color: #dff0d8;
 *
 */
