* {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: pink;
}

#box {
	background: red;
	padding: 34px 50px 15px 100px;
	width: 500px;
	border: 5px inset purple;
	color: white;
	font-weight: bold;
}

#box2 {
	background: yellow;
	width: 700px;
	padding: 150px 75px;
	border: 10px outset gold;
	margin: 30px;
}


